<div class="h-full w-full py-12 px-4 md:px-8 relative">
    <div class="flex items-center justify-center w-full h-full">
        <div class="max-w-lg w-full text-center flex flex-col">
            <div class="mb-4">
                <p class="text-2xl font-bold">Looks like you're lost... Let me help you!</p>
                <p class="text-slate-500">Please check the url, or use the button below</p>
            </div>

            <a class="btn-primary" [routerLink]="['/']">Return to the homepage</a>
        </div>
    </div>
</div>
